#wrapper {
  background-size: cover;
  background-color: #E2E2E2;
  min-height: 100vh;
}

#headerborder {
  background-color: #4B62C3;
  min-height: 15px;
  max-height: 8%;
  /* float: left; */
}

.header-hidden {
  background-color: none;
  min-height: 15px;
  max-height: 5%;
}

.menuBar {
  background-color: #0099CA;
  padding: 1%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.logo {
  min-height: 40px;
  max-height: 13%;
  min-width: 100px;
  max-width: 35%;
  float: left;
  /* margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%; */
  filter: contrast(150%);
}

.input-or-signin {
  float: right;
}

.title-box {
  width: 100%;
  float: inherit;
  min-height: 40vh;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 20%;
  max-width: 80%;
  filter: contrast(150%);
}

footer {
  width: 100%;
  background-color: #4B62C3;
  color: #fff;
  text-align: center;
  padding: 0;
  min-height: 10px;
  max-height: 7%;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}